<!-- views/result.ejs -->

<!DOCTYPE html>
<html lang="en">
<head><% include ./partials/head %></head>
<body>
    <header><% include ./partials/header %></header>
    <main>
      <div class="container">
        <% include ./partials/searchpanel %>
      </div>

      <div class="container">
        <% const to = from + results.length - 1 %>
        <p><%= query %> の物件は <%= count %> 件あります。<%= from %>-<%= to %>件目</p>
      </div>

      <div class="container" style="padding:0px;">
        <% for (let i = 0; i < results.length; i++) { %>
          <% const result = results[i] %>
          <% if (result.title == "") { continue; } %>
          <div class="result-board">
            <div class="panel panel-default unit" style=" padding:0px;">
              <ul class="list-group">
                <li class="list-group-item">
                  <a rel="nofollow" href="<%= result.url %>" target="_blank">
                    <p class="result-title lead text-primary"><%= result.title %></p>
                    <p class="result-address text-success"><%= result.url %></p>
                  </a>
                </li>
                <li class="list-group-item">
                  <p class="result-address"><%= result.address %></p>
                  <p class="result-text"><%= result.description.slice(0, 100) + "..." %></p>
                </li>
              </ul>
            </div>
          </div>
        <% } %>
        <% if (to != count) { %>
        <div class="paging result-board">
          <div class="panel panel-default unit">
            <a class="btn btn-primary btn-block" href="/?query=<%= query %>&page=<%= parseInt(page)+1 %>">次へ</a>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
