<!-- views/rooms.ejs -->

<!DOCTYPE html>
<html lang="en">
<head><% include ./partials/head %></head>
<body>
  <header><% include ./partials/header %></header>
  <main>
    <div class="container">
      <h2><%= title %></h2>
      <div class="row">
        <h3>都道府県から検索</h3>
        <% for (let i = 0; i < prefecture_list.length; i++) { %>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <% const pref = prefecture_list[i] %>
            <p>
              <a href="/prefecture/<%= pref %>"><%=pref%></a>
            </p>
          </div>
        <% } %>
      </div>
      <div>
        <h3>キーワードから検索</h3>
        <% for (let i = 0; i < keyword_list.length; i++) { %>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <% const keyword = keyword_list[i] %>
            <p>
              <a href="/keyword/<%= keyword %>"><%=keyword%></a>
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <footer><% include ./partials/footer %></footer>
</body>
</html>
